# MYSQL PRACTICE

In [ ]:
!pip install pymysql > /dev/null

In [ ]:
from google.colab import files
uploaded = files.upload()
filename = list(uploaded.keys())[0]

In [ ]:
import json
with open(filename) as fp:
    config_str = fp.read()
config = json.loads(config_str)

In [ ]:
import pymysql
conn = pymysql.connect(
    host = config['host'],
    user = config['user'],
    password = config['password'],
    database = config['database'],
    port = config['port']
)

## 데이터 조회

In [ ]:
sql = """
SELECT uid, uname, email,
date_format(reg_date, '%Y-%m-%d %H:%i:%s') AS reg_date
FROM users where is_deleted = 0 ORDER BY reg_date;
"""

In [ ]:
cur = conn.cursor()
cur.execute(sql)
row = cur.fetchone()
row

In [ ]:
row = cur.fetchone()
row

### 여러 건의 데이터 조회

In [ ]:
cur = conn.cursor()
cur.execute(sql)
rows = cur.fetchmany(3)
rows

### 모두 조회

In [ ]:
cur = conn.cursor()
cur.execute(sql)
rows = cur.fetchall()
rows

### 반복문 이용 조회

In [ ]:
cur = conn.cursor()
cur.execute(sql)
for row in cur:
    print(row)

## 데이터 검색

In [ ]:
uid = 'ABC'
sql = """
SELECT uid, uname, email,
date_format(reg_date, '%%Y-%%m-%%d %%H:%%i:%%s') AS reg_date
FROM users where is_deleted = 0 AND uid=%s;
"""

In [ ]:
cur = conn.cursor()
cur.execute(sql_search, (uid,))
result = cur.fetchone()
result

### 데이터가 없는 경우

In [ ]:
uid = 'park'
cur = conn.cursor()
cur.execute(sql_search, (uid,))
result = cur.fetchone()

In [ ]:
if result:
    print(result)
else:
    print(f'uid={uid}인 사용자는 없음')

## 종료

In [ ]:
cur.close()
conn.close()