# MYSQL PRACTICE

In [ ]:
!pip install pymysql > /dev/null

In [ ]:
from google.colab import files
uploaded = files.upload()
filename = list(uploaded.keys())[0]

In [ ]:
import json
with open(filename) as fp:
    config_str = fp.read()
config = json.loads(config_str)

In [ ]:
import pymysql
conn = pymysql.connect(
    host = config['host'],
    user = config['user'],
    password = config['password'],
    database = config['database'],
    port = config['port']
)

## 테이블 생성

In [ ]:
cur = conn.cursor()
sql_create_table = '''
CREATE TABLE if NOT EXISTS users(
    uid VARCHAR(20) NOT NULL PRIMARY KEY,
    pwd CHAR(44) NOT NULL,
    uname VARCHAR(20) NOT NULL,
    email VARCHAR(40),
    reg_date DATETIME DEFAULT CURRENT_TIMESTAMP,
    is_deleted INT DEFAULT 0
);
'''
cur.execute(sql_create_table)

## 테이블 구조/이름 변경

In [ ]:
cur.execute('ALTER TABLE users ADD COLUMN sns VARCHAR(40)')

## 테이블 삭제

In [ ]:
cur.execute('DROP TABLE users')

## 데이터 추가

In [ ]:
cur = conn.cursor()
sql = '''
CREATE TABLE if NOT EXISTS users(
    uid VARCHAR(20) NOT NULL PRIMARY KEY,
    pwd CHAR(44) NOT NULL,
    uname VARCHAR(20) NOT NULL,
    email VARCHAR(40),
    reg_date DATETIME DEFAULT CURRENT_TIMESTAMP,
    is_deleted INT DEFAULT 0
);
'''
cur.execute(sql)

In [ ]:
cur = conn.cursor()
sql = "INSERT INTO users(uid, uname, pwd) VALUES('admin', '관리자', '1234');"
cur.execute(sql)

In [ ]:
sql = 'SELECT * FROM users;'
cur.execute(sql)
row = cur.fetchone()
row

In [ ]:
conn.commit()

### 여러 건의 데이터 추가

In [ ]:
sql = """
INSERT INTO users(uid, uname, pwd) VALUES
('ABC', '철수', '1234'),
('DEF', '영희', '5678');
"""
cur.execute(sql)

In [ ]:
conn.commit()

### Place Holder

In [ ]:
uid = 'GHI'
uname = '동철'
sql = "INSERT INTO users(uid, uname, pwd) VALUES(%s, %s, '0000');"
cur.execute(sql, (uid, uname))

In [ ]:
conn.commit()

#### 여러 건의 데이터를 Place Holder로 추가

In [ ]:
users = (('JKL', '미연'), ('MNO', '재희'))
sql = "INSERT INTO users(uid, uname, pwd) VALUES(%s, %s, '9999');"
cur.executemany(sql, users)

In [ ]:
conn.commit()

##### 추천 방법

In [ ]:
users = (('JKL', '미연'), ('MNO', '재희'))
sql = "INSERT INTO users(uid, uname, pwd) VALUES(%s, %s, '9999');"
for user in users:
    cur.execute(sql, user)

In [ ]:
conn.commit()

## 종료

In [ ]:
cur.close()
conn.close()