## DataFrame Exercise

In [1]:
import numpy as np 
import pandas as pd

In [2]:
import seaborn as sns

In [3]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
iris.species.value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [6]:
np.mean(iris[iris.species == 'setosa']['sepal_length'])

5.005999999999999

In [7]:
s = iris[iris.species == 'setosa']['sepal_length']
np.round(s.mean(), 2), np.round(s.std(), 4)

(5.01, 0.3525)

In [8]:
iris.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [9]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [10]:
species_list, feature_list, mean_list, std_list = [], [], [], []
for species in iris.species.unique():
    for feature in iris.columns[:-1]:
        s = iris[iris.species == species][feature]
        species_list.append(species)
        feature_list.append(feature)
        mean_list.append(np.round(s.mean(), 2))
        std_list.append(np.round(s.std(), 4))

In [11]:
df = pd.DataFrame({
    'species': species_list, 'feature': feature_list,
    'mean': mean_list, 'std': std_list
})
df

       species       feature  mean     std
0       setosa  sepal_length  5.01  0.3525
1       setosa   sepal_width  3.43  0.3791
2       setosa  petal_length  1.46  0.1737
3       setosa   petal_width  0.25  0.1054
4   versicolor  sepal_length  5.94  0.5162
5   versicolor   sepal_width  2.77  0.3138
6   versicolor  petal_length  4.26  0.4699
7   versicolor   petal_width  1.33  0.1978
8    virginica  sepal_length  6.59  0.6359
9    virginica   sepal_width  2.97  0.3225
10   virginica  petal_length  5.55  0.5519
11   virginica   petal_width  2.03  0.2747

In [12]:
df.set_index(['species', 'feature'], inplace=True)
df

                         mean     std
species    feature
setosa     sepal_length  5.01  0.3525
           sepal_width   3.43  0.3791
           petal_length  1.46  0.1737
           petal_width   0.25  0.1054
versicolor sepal_length  5.94  0.5162
           sepal_width   2.77  0.3138
           petal_length  4.26  0.4699
           petal_width   1.33  0.1978
virginica  sepal_length  6.59  0.6359
           sepal_width   2.97  0.3225
           petal_length  5.55  0.5519
           petal_width   2.03  0.2747