## 02. DataFrame Class

In [ ]:
import numpy as np
import pandas as pd

### Create

In [ ]:
data = {
    '지역' : ['수도권', '경상권', '수도권', '경상권'],
    '2015' : [9984312, 3448737, 2890451, 2466052],
    '2016' : [9631482, 3393191, 2632035, 2431774],
    '2017' : [9762546, 3512547, 2517680, 2456016],
    '2018' : [9853972, 3655437, 2466338, 2473990],
    '2010-2015 증가율' : [0.0283, 0.0163, 0.0982, 0.0141]
}
index = ['서울', '부산', '인천', '대구']
df = pd.DataFrame(data, index = index)
df

     지역     2015     2016     2017     2018  2010-2015 증가율
서울  수도권  9984312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [ ]:
data = {
    '지역' : ['수도권', '경상권', '수도권', '경상권'],
    '2015' : [9984312, 3448737, 2890451, 2466052],
    '2016' : [9631482, 3393191, 2632035, 2431774],
    '2017' : [9762546, 3512547, 2517680, 2456016],
    '2018' : [9853972, 3655437, 2466338, 2473990],
    '2010-2015 증가율' : [0.0283, 0.0163, 0.0982, 0.0141]
}
index = ['서울', '부산', '인천', '대구']
columns = ['지역', '2015', '2010', '2005', '2000', '2010-2015 증가율']
df = pd.DataFrame(data, index = index, columns = columns)
df

     지역     2015 2010 2005 2000  2010-2015 증가율
서울  수도권  9984312  NaN  NaN  NaN         0.0283
부산  경상권  3448737  NaN  NaN  NaN         0.0163
인천  수도권  2890451  NaN  NaN  NaN         0.0982
대구  경상권  2466052  NaN  NaN  NaN         0.0141

In [ ]:
data = np.arange(24).reshape(4, 6)
columns = ['지역', '2015', '2010', '2005', '2000', '2010-2015 증가율']
index = ['서울', '부산', '인천', '대구']
df = pd.DataFrame(data, index = index, columns = columns)
df

    지역  2015  2010  2005  2000  2010-2015 증가율
서울   0     1     2     3     4              5
부산   6     7     8     9    10             11
인천  12    13    14    15    16             17
대구  18    19    20    21    22             23

In [ ]:
df.지역.values

array(['수도권', '경상권', '수도권', '경상권'], dtype=object)

In [ ]:
df['2015'].values

array([9984312, 3448737, 2890451, 2466052])

In [ ]:
df.columns

Index(['지역', '2015', '2016', '2017', '2018', '2010-2015 증가율'], dtype='object')

In [ ]:
df.index.name = '도시'
df.columns.name = '특성'
df

특성   지역     2015     2016     2017     2018  2010-2015 증가율
도시
서울  수도권  9984312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

### Transform

In [ ]:
df.T

도시                  서울       부산       인천       대구
특성
지역                 수도권      경상권      수도권      경상권
2015           9984312  3448737  2890451  2466052
2016           9631482  3393191  2632035  2431774
2017           9762546  3512547  2517680  2456016
2018           9853972  3655437  2466338  2473990
2010-2015 증가율   0.0283   0.0163   0.0982   0.0141

### Update

In [ ]:
df['2010-2015 증가율'] = df['2010-2015 증가율'] * 100
df

특성   지역     2015     2016     2017     2018  2010-2015 증가율
도시
서울  수도권  9984312  9631482  9762546  9853972           2.83
부산  경상권  3448737  3393191  3512547  3655437           1.63
인천  수도권  2890451  2632035  2517680  2466338           9.82
대구  경상권  2466052  2431774  2456016  2473990           1.41

### Add

In [ ]:
df['2020'] = [1, 2, 3, 4]
df

특성   지역     2015     2016     2017     2018  2010-2015 증가율  2020
도시
서울  수도권  9984312  9631482  9762546  9853972           2.83     1
부산  경상권  3448737  3393191  3512547  3655437           1.63     2
인천  수도권  2890451  2632035  2517680  2466338           9.82     3
대구  경상권  2466052  2431774  2456016  2473990           1.41     4

### Delete

In [ ]:
del df['2020']
df

특성   지역     2015     2016     2017     2018  2010-2015 증가율
도시
서울  수도권  9984312  9631482  9762546  9853972           2.83
부산  경상권  3448737  3393191  3512547  3655437           1.63
인천  수도권  2890451  2632035  2517680  2466338           9.82
대구  경상권  2466052  2431774  2456016  2473990           1.41

### Column Indexing

In [ ]:
df['지역'] # Series

도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [ ]:
df[['지역', '2015']] # DataFrame

특성   지역     2015
도시
서울  수도권  9984312
부산  경상권  3448737
인천  수도권  2890451
대구  경상권  2466052

In [ ]:
df[['지역']] # DataFrame

특성   지역
도시
서울  수도권
부산  경상권
인천  수도권
대구  경상권

In [ ]:
type(df['지역']), type(df['지역'])

(pandas.core.series.Series, pandas.core.series.Series)

### Row Indexing

In [ ]:
df[:'서울']

특성   지역     2015     2016     2017     2018  2010-2015 증가율
도시
서울  수도권  9984312  9631482  9762546  9853972           2.83

In [ ]:
df[1:2]

특성   지역     2015     2016     2017     2018  2010-2015 증가율
도시
부산  경상권  3448737  3393191  3512547  3655437           1.63

In [ ]:
df['부산':'인천']

특성   지역     2015     2016     2017     2018  2010-2015 증가율
도시
부산  경상권  3448737  3393191  3512547  3655437           1.63
인천  수도권  2890451  2632035  2517680  2466338           9.82

In [ ]:
df.head(3)

특성   지역     2015     2016     2017     2018  2010-2015 증가율
도시
서울  수도권  9984312  9631482  9762546  9853972           2.83
부산  경상권  3448737  3393191  3512547  3655437           1.63
인천  수도권  2890451  2632035  2517680  2466338           9.82

In [ ]:
df.tail(2)

특성   지역     2015     2016     2017     2018  2010-2015 증가율
도시
인천  수도권  2890451  2632035  2517680  2466338           9.82
대구  경상권  2466052  2431774  2456016  2473990           1.41

### Each Data Indexing
- df [ 열 이름 ] [ 행 이름 ]

In [ ]:
df['2015']['서울']

9984312

In [ ]:
df['2015'][0]

9984312