# Pandas

## 01. Series

In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],
              index = ['서울', '부산', '인천', '대구'])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [4]:
s.values

array([9904312, 3448737, 2890451, 2466052])

In [5]:
s.name = '인구'
s.index.name = '도시'
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

### Calculating

In [6]:
s / 1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

### Indexing

In [7]:
s[1], s['부산']

(3448737, 3448737)

In [8]:
s[[0, 3, 1]]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int64

In [9]:
s[['서울', '인천', '대구', '부산']]

도시
서울    9904312
인천    2890451
대구    2466052
부산    3448737
Name: 인구, dtype: int64

### Slicing

In [10]:
s[1:3]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [12]:
s['부산':'대구']

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

### Filtering

In [14]:
s[(2500000 < s) & (s < 3000000)]

도시
인천    2890451
Name: 인구, dtype: int64

In [15]:
s[(s < 25e5) | (s > 4e6)]

도시
서울    9904312
대구    2466052
Name: 인구, dtype: int64

### Dictionary

In [18]:
'서울' in s, '대전' in s

(True, False)

In [17]:
s2 = pd.Series({'서울' : 9631482, '부산' : 3393191, '인천' : 2632035, '대전' : 1490158})
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

### Calculation Based on Index

In [19]:
s - s2

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [20]:
s.values - s2.values

array([272830,  55546, 258416, 975894])

In [22]:
rs = (s - s2) / s2 * 100
rs

대구         NaN
대전         NaN
부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64

In [23]:
rs.notnull()

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

In [25]:
rs = rs[rs.notnull()]
rs

부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64

### Update

In [26]:
rs['부산'] = 1.63
rs

부산    1.630000
서울    2.832690
인천    9.818107
dtype: float64

### Add

In [27]:
rs['대구'] = 1.41
rs

부산    1.630000
서울    2.832690
인천    9.818107
대구    1.410000
dtype: float64

### Delete

In [28]:
del rs['부산']
rs

서울    2.832690
인천    9.818107
대구    1.410000
dtype: float64