# 04. DataFrame Advanced Indexing

In [2]:
import numpy as np
import pandas as pd

### loc Indexer

In [4]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["x", "y", "z"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
x  10  11  12  13
y  14  15  16  17
z  18  19  20  21

### 1 : Row Indexing

In [7]:
df.loc['x'] # Series

A    10
B    11
C    12
D    13
Name: x, dtype: int64

In [8]:
df.loc['x':'y'] # DataFrame

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [10]:
df.loc[['x', 'z']]

    A   B   C   D
x  10  11  12  13
z  18  19  20  21

In [11]:
df['A'] > 15

x    False
y    False
z     True
Name: A, dtype: bool

In [12]:
df.loc[df.A > 15] # Boolean Indexing

    A   B   C   D
z  18  19  20  21

### 2 : Row, Col Indexing

In [13]:
df.loc['x', 'A']

10

In [15]:
df.loc['y':, 'B']

y    15
z    19
Name: B, dtype: int64

In [16]:
df.loc[df.A > 10, 'C'] # Boolean Indexing

y    16
z    20
Name: C, dtype: int64

### iloc Indexer

In [17]:
df.iloc[0, 0]

10

In [18]:
df.iloc[:2, 1:]

    B   C   D
x  11  12  13
y  15  16  17

In [19]:
df.iloc[-1]

A    18
B    19
C    20
D    21
Name: z, dtype: int64